
.taskForm {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: calc(0px - 3.8rem - 15px); 
}

.taskForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.taskForm input {
  width: 39.8rem;
  background: var(--gray-500);
  border: 0;
  resize: none;
  padding: 1rem;
  border-radius: 0.50rem;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
}


.taskForm button[type="submit"] {
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--blue-800);
  color: var(--white);
  cursor: pointer;

  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.taskForm button[type="submit"]:not(:disabled):hover {
  background: var(--blue-500);
}

.taskForm button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
